.container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display:flex;
    flex-direction: column-reverse;
}

.inicio{
    width: 100vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.barra-cabecera{
    width: 100vw;
    height: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.contenido{
    width: 100vw;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.contenido2{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.barra-noticias{
    width: 25%vw;
    height: 10vh;
    background-color: white;
    display: none;
    flex-direction: column;
}
.barra-atajos{
    width: 100vw;
    height: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

@media (min-width:1000px){
    .contenido{
        width: 100%;
        height: 90%;
        background-color:white;
        overflow: scroll;
    }
    .container{
        width: 100vw;
        height: 100vh;
        background-color: white;
        display:flex;
        flex-direction: row;
        overflow: hidden;
    }
    .inicio{
        width: 45%;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .barra-cabecera{
        width: 100%;
        height: 10%;
        background-color: white;
        display: flex;

        flex-direction: row;
    }
    .barra-noticias{
        width: 30%;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .barra-atajos{
        width: 25%;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
}