.nota{
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.nota2{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.noticia{
    width: 100%;
    height: 100%;
    background-color: gainsboro ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content:baseline;
}