.publi{
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.act{
    justify-content: baseline;
    text-align: center;
    width: 94%;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.publs{
    background-color: white;
    text-align: center;
    width: 94%;
    height: 30vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}
.publs2{
    background-color: gainsboro;
    text-align:left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
