.botonera{
    width:100vw;
    height:100vh;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: column;
}


.botoness{
    background-color: white;
    width: 100vw;
    height:18vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
 
}
.boton{
    padding: 14px;
    margin: 5px;
    justify-content: center;
    text-align: center;
    width: 60vw;
    height: 7vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 70vw;
    height:10vh;
    display: flex;
    flex-wrap: nowrap;
    align-items:flex-start;
    flex-direction: row;
}

.texto1{
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 15px;
}
.texto2{
    margin-bottom: 40px;
    margin-left: 15px;
}
.title1{
    font-size:1.5cm;
    font-weight: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title2{
    font-size: 1cm;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.redir{
    font-size:.5cm;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width: 1000px){
    .botonera{
        width:70vw;
        height:95vh;
        background-color: white;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .logo{
        padding-top: 10px;
        margin: 10px;
        width: 60vw;
        height:10vh;
        display: flex;
        flex-wrap: nowrap;
        align-items:flex-start;
        flex-direction: row;
    }
    
    .botoness{
        background-color: white;
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .boton{
        padding-top: 10px;
        margin-bottom: 15px;
        text-align: center;
        width: 30vw;
        height: 4vh;
        border-style: solid;
        border-width: 1px;
        border-radius: 30px;
    }

    .textos{
        padding-block: 25px;
        margin: 20px;
    }
    .title1{
        font-size:2cm;
        font-weight: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .title2{
        font-size: 1.5cm;
        font-weight: 200;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}